<!DOCTYPE html>
<html>
<head>
    <title>User Type App</title>
</head>
<body>
    <h1 style="text-align: center;">Welcome to your app!</h1>
    <p style="text-align: center;">This is your homepage.</p>
        <a href="/login/" style="display: block; text-align: center;">
        <button>Go to Login</button>
    </a>
    <br>
    <a href="/signup/" style="display: block; text-align: center;">
        <button>Sign Up</button>
    </a>
    <br>
    <a href="/admin/" style="display: block; text-align: center;">
        <button>Admin</button>
    </a>
</body>
</html>